:root {
    --main-font-color: #333;
    --main-bg-color: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--main-bg-color);
    letter-spacing: .08rem;
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    width: 100%;
    padding: 1rem 0;
}

h2 {
    text-align: center;
    font-size: 2.3rem;
}

.about h1 {
    text-align: center;
    font-size: 2.7rem;
    padding-bottom: 1rem;
}

.about p {
    max-width: 100%;
    padding: 1em 1em 0;
    font-size: 1.2rem;
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
}

.skills h3{
    padding-top: .8rem;
    text-align: center;
    text-decoration: underline;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem;
}

.skills ul li{
    min-width: 33%;
    text-align: center;
    line-height: 2.5rem;
    list-style: none;

}

.preview-card {
    display: inline-block;
}
.preview-card h3 {
    width: fit-content;
    margin: 0 auto;
    margin-top: .5em;
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

hr {
    width: 90vw;
    background-color: black;
    height: 1px;
    margin: 0 auto;
}

.profile-image {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-width: 18rem;
}

.portfolio-image{
    width: 80vw;
    margin: 0 auto;
    display: block;
}

.previous-employment-card{
    padding: 1rem 0;
    width: 80vw;
    margin: 0 auto;
}

.previous-employment h3{
    padding: .3rem 0;
}

.previous-employment h4{
    padding-top: .3rem;
    padding-bottom: .8rem;
}

.previous-employment ul {
    padding-bottom: 1rem;
}

.contact{
    text-align: center;
}

.skills, .previous-employment{
    background-color: #e3e3e3;
}

.about{
    padding-top: 7rem;
}

a {
    text-decoration: none;
}

nav li {
    list-style: none;
}

.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    background-color: #111;
    box-sizing: border-box;
}

.nav-links {
    width: 100%;
}

.nav-links a {
    color: #fff;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    padding: 2px;
}

.menu li:hover {
    background-color: #fff;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li:hover a {
    color: rgb(62, 34, 4);
}

.menu li {
    padding: 8px 14px;
    font-weight: bold;
    border: 1px white solid;
    border-radius: 1rem;
}

input[type=checkbox]{
    display: none;
}

.hamburger {
    display: none;
    user-select: none;
}

@media (max-width: 750px) {
    .menu {
        display: none;
        position: relative;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
}

#skills, #portfolio, #previous-employment, #contact {
    scroll-margin-top: 5.1rem;
  }

  .github-logo {
    width: 6.8rem;
  }

  .profile-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }